$mobile-breakpoint: 860px;

.cardContainer {
    width: 300px;
    max-height: 480px;
    border-radius: 20px;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.cardContainerSelected {
    border: 5px solid rgba(0,115,211,255);
    width: 300px;
    max-height: 480px;
    // height: 450px;
    border-radius: 20px;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: $mobile-breakpoint) {
    .cardContainer {
        max-height: 400px;
        margin: 20px 0;
    }

    .cardContainerSelected {
        max-height: 400px;
        margin: 20px 0;
    }
  }
